<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Bookings</title>
    <!-- BOOTSTRAP -->
    <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
</head>
{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container" style="width: 200%; height: 10%; margin: 20px auto;">
        <table id="mytable" class="table table-striped" style="max-height: 500px; overflow-x: auto;">
            <thead style="background-color: #007bff; color: azure;">
                <th>Booking ID</th>
                <th>Bus Type</th>
                <th>Travels</th>
                <th>Passenger Name</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Price</th>
                <th>Date</th>
                <th>Time</th>
                <th>Trip Status</th>
                <th>Status</th>
            </thead>
            {% for user in data %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.bus_type }}</td>
                <td>{{ user.travels_name }}</td>
                <td>{{ user.pass_name }}</td>
                <td>{{ user.source }}</td>
                <td>{{ user.dest }}</td>
                <td>{{ user.price }}</td>
                <td>{{ user.date }}</td>
                <td>{{ user.time }}</td>
                 <td>{{ user.trip_status }}</td>
                <td>{{ user.status }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
    </div>

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- DATATABLES -->
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <!-- BOOTSTRAP JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#mytable').DataTable();
        });
    </script>

</body>
{% endblock %}
</html>
